<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New boy</title>
    <script src="../static/qrious.js"></script>
</head>

<body>
    <table class="table" border="1">
        <tr>
            <th>fileName</th>
            <td>{{file.filename}}</td>
        </tr>
        {% for key, value in form.items() %}
        <tr>
            <th>{{key}}</th>
            <td>{{value}}</td>
        </tr>
        {% endfor%}
    </table>

    <form action="/print" method="post" enctype="multipart/form-data">
        <input type="hidden" id="filename" name="fileName" value="{{file.filename}}">
        <input type="submit" class="btn btn-primary" value="开始打印">
    </form>


    <br><br>
    <input type="number" id="total_fee" name="total_fee" value="{{form.total_fee}}"></input>
    <p><a href="" id="pay_url"></a></p>

    <img id="pay_img">

</body>

<script>
    let total_fee = document.getElementById("total_fee");
    window.addEventListener('load', async function () {
        let response = await fetch('/pay_native?total_fee=' + total_fee.value);
        //alert("response:" + response)
        let result = await response.json();
        //alert("result:" + result)
        let url_message = result.message;

        url = JSON.parse(url_message)
        //alert("url:" + url);
        url = url.code_url
        //alert(typeof (url))
        document.getElementById('pay_url').innerHTML = url;

        //alert(document.getElementById('pay_url').innerHTML)

        var QRcode = new QRious({
            element: document.getElementById("pay_img"),// 指定的是图片所在的DOM对象
            size: 250,									//指定图片的像素大小
            level: 'H',									//指定二维码的容错级别(H:可以恢复30%的数据)
            value: document.getElementById('pay_url').innerHTML //'{{pay_url}}'
        })
    });

</script>

</html>