{% extends "layout.html"%}


{% block main%}
{% autoescape false %}

<main class="container py-4 ">

    <div class="alert alert-danger text-center py-5" role="alert">

        <!-- capybara!!! -->
        <div class="d-flex flex-column" id="capybara">
            <div class="bubble grow bottom text-center mx-auto" id="capybara_talkbox">
                <h2 id="code" class="text-danger">Error:{{code}}</h2>
                <h1 id="message" class="">{{message}}</h1>
            </div>
            <div class="mx-auto" id="capybara_body">
                <img src="/static/img/capybara1_1.png" srcset="" width="175">
            </div>
        </div>
        <style>
            #capybara_talkbox {
                background-color: inherit;
            }

            #message {
                font-family: sans-serif;
            }
        </style>
    </div>

    <br><br>

    <div class="text-center">
        <form action="/" method="get">
            <button type="submit" class="btn btn-danger" id="">返回主页</button>
        </form>
    </div>

</main>

{% endautoescape %}
{% endblock%}


{% block js %}

{% endblock %}