{% extends "layout.html"%}


{% block main%}

<main class="container py-4 ">

    <div class="alert alert-info mx-auto text-center mw-50">
        <strong>温馨提示：</strong> 如遇打印平台故障，且急需打印，建议移步☞校园文印中心。
    </div>

    <br>

    <div class="mx-auto" id="accordion" style="max-width: 1000px;">
        <div class="card">
            <a class="card-header list-group-item list-group-item-success" data-bs-toggle="collapse"
                data-bs-target="#level1">
                <div class="btn"><span class="badge bg-success">没啥急事</span></div>
                有好建议/技术交流/随便唠唠
            </a>
            <div class="collapse" id="level1" data-bs-parent="#accordion">
                <div class="card-body">
                    <P>邮箱: zoujialin@163.com</P>
                    <P>github: <a href="https://github.com/ZouJoelin/Capybara">https://github.com/ZouJoelin/Capybara</a>
                    </P>
                </div>
            </div>
        </div>

        <div class="card">
            <a class="card-header list-group-item list-group-item-warning" data-bs-toggle="collapse"
                data-bs-target="#level2">
                <div class="btn"><span class="badge bg-warning">还能等等</span></div>
                遇到bug/申诉退钱/不想用邮箱
            </a>
            <div class="collapse" id="level2" data-bs-parent="#accordion">
                <div class="card-body">
                    <p>微信:</p>
                    <div class="text-center">
                        <img src=" /static/img/wx_QRcode.jpg" alt="wx: 19830430709" width="250">
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <a class="card-header list-group-item list-group-item-danger" data-bs-toggle="collapse"
                data-bs-target="#level3">
                <div class="btn"><span class="badge bg-danger">有点子急</span></div>
                平台宕机/缺纸缺墨/想要骂人
            </a>
            <div class="collapse" id="level3" data-bs-parent="#accordion">
                <div class="card-body">
                    <p>电话: 19830430709</p>
                </div>
            </div>
        </div>

        <div class="card">
            <a class="card-header list-group-item list-group-item-dark" data-bs-toggle="collapse"
                data-bs-target="#level4">
                <div class="btn"><span class="badge bg-dark">心急如焚</span></div>
                急需帮助/打印机成精了
            </a>
            <div class="collapse" id="level4" data-bs-parent="#accordion">
                <div class="card-body">
                    <p>到180栋814房把管理员从床上薅起来</p>
                </div>
            </div>
        </div>

        <br><br>

        <div class="text-center">
            <form action="/" method="get">
                <button type="submit" class="btn btn-danger" id="">返回主页</button>
            </form>
        </div>
    </div>

</main>

<!-- capybara!!! -->
{% if not request.MOBILE %}
<div id="capybara">
    <div id="capybara_talkbox" class="bubble bottom">
        <p class="mb-0"> >(￣ρ￣)..zzZ</p>
    </div>
    <div id=" capybara_body">
        <img src="/static/img/capybara1_5.png" srcset="" width="150">
    </div>
</div>
<style>
    #capybara {
        display: inline-block;
        position: sticky;
        margin-left: 30px;
        margin-bottom: 2px;
        bottom: 4px;
    }
</style>
{% else %}
<br><br><br><br><br><br><br><br>
<div id="capybara">
    <div id="capybara_talkbox" class="bubble bottom">
        <p class="mb-0"> >(￣ρ￣)..zzZ</p>
    </div>
    <div id=" capybara_body">
        <!-- 作者：大象ROV -->
        <img src="/static/img/capybara1_5.png" srcset="" width="125">
    </div>
</div>
<style>
    #capybara {
        display: inline-block;
        margin-left: 0px;
        margin-bottom: 0px;
    }
</style>
{% endif %}


{% endblock%}


{% block js %}

{% endblock %}