{% extends "layout.html" %}


{% block main %}
<div>
    <form id="file-form">
        <div class="">
            <label class="form-label" for="files">上传文件</label>
            <input class="form-control" type="file" id="file" name="file" accept=".pdf" required autofocus>
        </div>
    </form>
    <form id="information-form">
        <div class="d-flex justify-content-between align-items-center">
            <label class="form-label" for="pages">页数</label>
            <input class="form-control form-control-plaintext input-box bg-primary text-white" type="number" id="pages"
                name="pages" value="0" readonly style="-moz-appearance: textfield; ">
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <label class="form-label" for="paper_type">纸张</label>
            <input class="form-control form-control-plaintext input-box bg-primary text-white" type="text"
                id="paper_type" name="paper_type" value="A4" readonly>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <label class="form-label" for="color">颜色</label>
            <input class="form-control form-control-plaintext input-box bg-primary text-white" type="text" id="color"
                name="color" value="黑白" readonly>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <label class="form-label" for="side">单双</label>
            <div class="btn-group" role="group" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
                <input type="radio" class="btn-check" id="single_side" name="side" value="single_side">
                <label class="btn btn-outline-primary" for="single_side">单面</label>

                <input type="radio" class="btn-check" id="double_side" name="side" value="double_side" checked>
                <label class="btn btn-outline-primary" for="double_side">双面</label>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <label class="form-label" for="copies">份数</label>
            <input class="form-control input-box" type="number" id="copies" name="copies" value="1" min="1" required>
        </div>
    </form>

    <h1 class="text-danger text-end">
        <span>￥</span><span id="fee">0.00</span>
    </h1>
</div>

<div class="d-flex mt-3 gap-3 float-end">
    <button type="reset" class="btn btn-danger" id="reset-btn">取消</button>
    <a href="/pay" class="btn btn-primary">支付并打印</a>
</div>

<script>
    document.getElementById("reset-btn").addEventListener("click", resetForm);
    function resetForm() {
        document.getElementById("file-form").reset();
        document.getElementById("information-form").reset();
    }
</script>


{% endblock %}



{% block js %}

<script src="./static/js/auto_count.js"></script>

{% endblock %}