{% extends "layout.html" %}


{% block main %}

<main class="container py-4">

    <!-- information -->
    <div class="alert alert-info alert-dismissible fade show text-center">
        为提倡节约用纸，单面改为￥0.12/面
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    <div class="mx-auto" id="print-form" style="max-width: 1000px;">

        <div>
            <form id="file-form">
                <div class="">
                    <label class="form-label" for="files">上传文件</label>
                    <input class="form-control" type="file" id="file" name="file" accept=".pdf" required
                        data-bs-toggle="popover" data-bs-trigger="hover " data-bs-content="由于word等文件兼容性低，请转换成pdf文件再上传">
                </div>
            </form>
            <form id="information-form">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label" for="pages">页数</label>
                    <input class="form-control form-control-plaintext input-box bg-primary text-white" type="number"
                        id="pages" name="pages" value="0" readonly style="-moz-appearance: textfield; ">
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label" for="paper_type">纸张</label>
                    <input class="form-control form-control-plaintext input-box bg-primary text-white" type="text"
                        id="paper_type" name="paper_type" value="A4" readonly>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label" for="color">颜色</label>
                    <input class="form-control form-control-plaintext input-box bg-primary text-white" type="text"
                        id="color" name="color" value="黑白" readonly>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label" for="sides">单双</label>
                    <div class="btn-group" role="group" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">

                        <input type="radio" class="btn-check" id="one-sided" name="sides" value="one-sided">
                        <label class="btn btn-outline-primary" for="one-sided">单面</label>

                        <input type="radio" class="btn-check" id="two-sided-long-edge" name="sides"
                            value="two-sided-long-edge" checked>
                        <label class="btn btn-outline-primary" for="two-sided-long-edge">双面长边</label>

                        <input type="radio" class="btn-check" id="two-sided-short-edge" name="sides"
                            value="two-sided-short-edge">
                        <label class="btn btn-outline-primary" for="two-sided-short-edge">双面短边</label>

                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label" for="copies">份数</label>
                    <input class="form-control input-box" type="number" id="copies" name="copies" value="1" min="1"
                        required>
                </div>
            </form>

            <h1 class="text-danger text-end">
                <span>￥</span><span id="fee">0.00</span>
            </h1>
        </div>

        <div class="d-flex mt-3 gap-3 float-end">
            <form action="/pay" method="post">
                <button type="reset" class="btn btn-danger" id="reset-btn">取消</button>
                <button type="submit" class="btn btn-primary">支付并打印</button>
            </form>
        </div>

    </div>
</main>

<!-- capybara!!! -->
<div id="capybara">
    <div id="capybara_talkbox" class="bubble bottom">
        <!-- <p class="mb-0"> >Hello, I'm Capy!</p> -->
        <p class="mb-0 message"> >该打印机地点:</p>
        <p class="mb-0 message">{{location}}</p>
        <style>
            .message {
                font-size: medium;
                font-family: sans-serif;
            }
        </style>
    </div>
    <div id=" capybara_body">
        <!-- 作者：大象ROV -->
        <img src="/static/img/capybara1_4.png" srcset="" width="150">
    </div>
</div>
<style>
    #capybara {
        display: inline-block;
        position: sticky;
        margin-left: 10px;
        margin-bottom: 2px;
        bottom: 4px;
    }
</style>

{% endblock %}


{% block js %}

<script>
    //pull up popover
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
</script>

<script>
    // reset form
    document.getElementById("reset-btn").addEventListener("click", resetForm);
    //window.addEventListener("load", resetForm)

    function resetForm() {
        document.getElementById("file-form").reset();
        document.getElementById("information-form").reset();
        document.getElementById("fee").innerHTML = '0.00';

        let formData = new FormData();
        formData.append('source', 'index.html');
        fetch('/', {
            method: 'POST',
            body: formData
        }).then(response => {
            // console.log(response);
        }).catch(error => {
            console.error(error);
        });
    }
</script>

<script src="/static/js/auto_count.js"></script>

{% endblock %}