{% extends 'layout.html' %}


{% block main %}

<div class="container">
    <table class="table table-striped text-center">
        <tr>
            <th>打印文件</th>
            <td>{{form.filename}}</td>
        </tr>
        <tr>
            <th>文件页数</th>
            <td>{{form.pages}}</td>
        </tr>
        <tr>
            <th>纸张类型</th>
            <td>{{form.paper_type}}</td>
        </tr>
        <tr>
            <th>颜色</th>
            <td>{{form.color}}</td>
        </tr>
        <tr>
            <th>单双</th>
            {% if form.sides == "one-sided" %}
            <td>单面打印</td>
            {% elif form.sides == "two-sided-long-edge"%}
            <td>双面打印，长边翻转</td>
            {% else %}
            <td>双面打印，短边翻转</td>
            {% endif %}
        </tr>
        <tr>
            <th>份数</th>
            <td>{{form.copies}}</td>
        </tr>
    </table>
</div>

<div class="text-center">
    <h1 class="text-danger text-center">
        <span>￥</span><span id="fee">{{form["fee"]}}</span>
    </h1>
    <img class="" id="pay_img">
</div>

<div class="text-center">
    <form action="/" method="post">
        <input type="text" name="source" id="source" value="pay.html" hidden>
        <input type="text" name="out_trade_no" id="" value="{{out_trade_no}}" hidden>
        <button type="submit" class="btn btn-danger" id="withdraw-btn">撤销</button>
    </form>
</div>

<div hidden>
    <form action="/print_file" method="post" id="print-order">
        <input type="text" name="out_trade_no" id="" value="{{out_trade_no}}" hidden>
    </form>
</div>


{% endblock %}



{% block js %}

<script src="/static/js/qrious.js"></script>

<script>

    var qrious = new QRious({
        element: document.getElementById("pay_img"),// 指定的是图片所在的DOM对象
        size: 250,									//指定图片的像素大小
        level: 'H',									//指定二维码的容错级别(H:可以恢复30%的数据)
        value: '{{pay_url}}'                        //指定二维码图片url
    })
</script>


<script>
    const out_trade_no = '{{out_trade_no}}'

    function fetchQuery() {
        fetch('/polling_query?out_trade_no=' + out_trade_no)
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('请求失败：' + response.statusText);
                }
            })
            .then(result => {
                console.log("message: ", result.message);
                if (result.message == 'SUCCESS') {
                    document.getElementById("print-order").submit();
                    //window.location.href = '/print_file?out_trade_no=' + out_trade_no;
                } else {
                    setTimeout(fetchQuery, 5000); // 间隔5秒后再次调用 fetchQuery 函数
                }
            })
            .catch(error => {
                console.error(error);
                setTimeout(fetchQuery, 5000); // 如果请求失败，则间隔5秒后再次调用 fetchQuery 函数
            });
    }

    fetchQuery(); // 初次调用 fetchQuery 函数

</script>

{% endblock %}