{% extends 'layout.html' %}


{% block main %}

<main class="container py-4">
    <div class="mx-auto" id="print-inform" style="max-width: 1000px;">

        <br>

        <!-- capybara!!! -->
        <div class="d-flex flex-column" id="capybara">
            <div class="bubble large bottom text-center mx-auto" id="capybara_talkbox">
                <h1>正在打印您的文件</h1>
                <h2 class="text-primary">"{{filename}}"</h2>
                <h1>请及时取走</h1>
            </div>
            <div class="mx-auto" id="capybara_body">
                <!-- 作者：大象ROV -->
                <img src="/static/img/capybara1_3.png" srcset="" width="175">
            </div>
        </div>
        <style>
            #capybara_talkbox {
                font-family: sans-serif;
            }
        </style>

        <br><br><br>

        <div class="text-center">
            <form action="/" method="get">
                <button type="submit" class="btn btn-danger" id="">返回主页</button>
            </form>
        </div>

    </div>
</main>

<br><br><br>

{% endblock %}


{% block js %}

{% endblock %}